* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Bangers", system-ui;
}

.bangers-regular {
  font-family: "Bangers", system-ui;
  font-weight: 400;
  font-style: normal;
}

.appContainer {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;    
  padding: 0 20px;     
}

body {
  margin: 0;
  padding: 0;
  background-color: #442086;
  overflow-x: hidden;
}
